.loader-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.loader {
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 5px solid #e74c3c;
  animation: load 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.loader::before,
.loader::after {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.loader::before {
  border-top: 5px solid #e67e22;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 5px solid #3498db;
  transform: rotate(240deg);
}

.logo-wrapper {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
