.small-loader-container {
  position: relative;
  width: 30px;
  height: 30px;
}

.small-loader {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 2px solid #e74c3c;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.small-loader::before,
.small-loader::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.small-loader::before {
  border-top: 2px solid #e67e22;
  transform: rotate(120deg);
}

.small-loader::after {
  border-top: 2px solid #3498db;
  transform: rotate(240deg);
}

.small-logo-wrapper {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.small-logo-wrapper img {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
